*{margin: 0; padding: 0;}
*{box-sizing: border-box;}
*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}
a{color: inherit; text-decoration: none;}
ul,ol{list-style: none;}

/*** layout ***/
.page{
display: flex;
height: 100vh;
}
.page > .sidebar{
width: 200px;
border: 1px solid red;

}
.page > main{
flex-grow: 1;
border:1px solid green;
}